:root {
  --dark-color: #121725;
  --hover: #B3FFE2;
  --primary-green: #54E6AF;
  --primary-gray: #C2CBE5;
  --primary-blue: #2c344b;
  --secondary-blue: #5a668a;
  --lightest-blue: #c2cbe5;

  --error-message: #FB3E3E;


  --ff-primary: 'Chivo', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
}

.container {
  background: linear-gradient(to right, rgba(	18, 23, 37, .8),  rgba(	18, 23, 37, .8)), url('./img/mobile/image-host.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 0 24px;
}

.wrapper_all {
  max-width: 375px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0 57px 0;
}

.wrapper {
  text-align: center;
}

.tablet,
.desktop {
  display: none;
}

.wrapper h3 {
  font-size: 26px;
  line-height: 38px;
  font-weight: 300;
  color: var(--primary-green);
  margin-bottom: 16px;
}

.wrapper h3 span {
  color: white;
}

.wrapper p {
  color: var(--primary-gray);
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 33px;
}

.wrapper_box_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.wrapper_box_icon img {
  width: 75px;
}

.wrapper_box_email input {
  width: 100%;
  padding: 9px 32px;
  border-radius: 28px;
  outline: none;
  border: none;
  line-height: 28px;
  font-size: 14px;
  background-color: var(--primary-blue);
  color: white;
  margin-bottom: 16px;
}

.wrapper_box_email input::placeholder {
  color: var(--lightest-blue);
  line-height: 28px;
  font-size: 14px;
  font-weight: 700;
}

.wrapper_box_email .btn_access {
  display: inline-block;
  outline: none;
  border: none;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  padding: 9px 0;
  border-radius: 28px;
  background-color: var(--primary-green);
  color: var(--dark-color);
  font-weight: 700;
}

.wrapper_box_email .btn_access:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.error_message {
  color: var(--error-message);
  margin: 0;
  font-size: 12px;
  visibility: hidden;
}

.dots {
  display: none;
}

@media (min-width: 768px) and (max-width: 1191px) {
  .container {
    background: var(--dark-color);
    min-height: 100vh;
    position: relative;
    padding: 0 39px;
  }

  .wrapper_all {
    max-width: 100%;
    margin: 0;
  }

  .tablet {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .header {
    justify-content: flex-start;
    padding: 50px 0 0 0;
    margin-bottom: 152px;
  }

  .wrapper {
    background-color: var(--dark-color);
    position: relative;
    max-width: 87%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 152px;
  }

  .wrapper h3 {
    margin-top: 93px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    color: var(--primary-green);
    margin-bottom: 31px;
    max-width: 665px;
  }

  .wrapper p {
    color: var(--primary-gray);
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 445px;
  }

  .wrapper .wrapper_box_email {
    order: 3;
    max-width: 427px;
  }

  .input_wrapper {
    position: relative;
    margin-bottom: 25px;
  }

  .wrapper_box_email input {
    width: 100%;
    padding: 14px 32px;
    border-radius: 28px;
    outline: none;
    border: none;
    line-height: 28px;
    font-size: 14px;
    background-color: var(--primary-blue);
    color: white;
    margin-bottom: 16px;
  }

  .wrapper_box_email .btn_access {
    position: absolute;
    width: 162px;
    right: 5px;
    top: 5px;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 28px;
    padding: 9px 27px;
    border-radius: 28px;
    background-color: var(--primary-green);
    color: var(--dark-color);
    font-weight: 700;
  }

  .wrapper_box_email .btn_access:hover {
    background-color: var(--hover);
  }

  .wrapper .wrapper_box_icon {
    order: 4;
    max-width: 536px;
    margin: 0;
  }

  .wrapper_box_icon img {
    width: 90px;
  }

  .dots {
    display: block;
  }
}

@media (min-width: 1192px) {
  .container {
    background: var(--dark-color);
    min-height: 100vh;
    position: relative;
    padding: 0 165px;
  }

  .wrapper_all {
    max-width: 100%;
    margin: 0;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: block;
    position: absolute;
    top: 130px;
    right: 0;
  }

  .header {
    justify-content: flex-start;
    padding: 102px 0 0 0;
    margin-bottom: 103px;
  } 

  .wrapper {
    background-color: var(--dark-color);
    position: relative;
    max-width: 68%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 152px;
  }

  .wrapper h3 {
    margin-top: 88px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    color: var(--primary-green);
    margin-bottom: 24px;
    max-width: 665px;
  }

  .wrapper p {
    color: var(--primary-gray);
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 445px;
  }

  .wrapper .wrapper_box_email {
    order: 3;
    max-width: 427px;
  }

  .input_wrapper {
    position: relative;
    margin-bottom: 40px;
  } 

  .wrapper_box_email input {
    width: 100%;
    padding: 14px 32px;
    border-radius: 28px;
    outline: none;
    border: none;
    line-height: 28px;
    font-size: 14px;
    background-color: var(--primary-blue);
    color: white;
    margin-bottom: 16px;
  }

  .wrapper_box_email .btn_access {
    position: absolute;
    width: 162px;
    right: 5px;
    top: 5px;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 28px;
    padding: 9px 27px;
    border-radius: 28px;
    background-color: var(--primary-green);
    color: var(--dark-color);
    font-weight: 700;
  }

  .wrapper .wrapper_box_icon {
    order: 4;
    max-width: 536px;
    margin: 0;
  } 

  .wrapper_box_icon img {
    width: 90px;
  } 

  .dots {
    display: block;
    position: absolute;
    right: 0;
    bottom: 15%;
  }
}